body {
	background-color: black;
	color: white;
}

textarea {
	background-color: black;
	color: white;
	font-size: large;
	resize: none;
}

input {
	background-color: black;
	color: white;
	font-size: large;
}